@font-face {
    font-family: "avenir";
    src: url('../assets/Font/AvenirNextProLT/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: "avenir-bold";
    src: url('../assets/Font/AvenirNextProLT/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: "avenir-demi-bold";
    src: url('../assets/Font/AvenirNextProLT/AvenirNextLTPro-Demi.otf');
}