// COLORS
$dark-grey-color: #323232;
$silver-color: #AFAFAF;
$mercury: #e1e1e1;
$white-color: #ffffff;
$background-white: #FAFAFA;
$stock-blue-color: #004892;
$dark-blue-color: #002f5f;
$brainflix-blue:#0065AD;
$bright-blue: #0095ff;

// BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;