/* NOTES

- could have used SCSS mixins a lot more. Still getting used to using scss so I found myself styling normally and then refactoring with scss later. Hopefully with more practice I will create more mixins when starting to save myself more time i.e combining flexbox attributes or font size mixins. 

- the change in desktop dimension to 1200px scewed the mesurments for the desktop markup so it was eyed out instead of following exact pixel spacings. Tried to recalculate to the best of my ability. 

- with more time, additional media queries could have been added to ensure smoother breakpoints. 

Looking forward to part 2.
Thank you! 
*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "avenir";
  src: url("../assets/Font/AvenirNextProLT/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir-bold";
  src: url("../assets/Font/AvenirNextProLT/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "avenir-demi-bold";
  src: url("../assets/Font/AvenirNextProLT/AvenirNextLTPro-Demi.otf");
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1, h2 {
  font-family: "avenir-bold";
}

body {
  font-family: "avenir";
  cursor: default;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.logo {
  background-color: #323232;
  height: 50%;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-left: 120px;
  }
}

.header {
  background-color: #323232;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__list {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__list {
    width: 100%;
    height: 60%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav {
  width: 100%;
  height: 50%;
}

@media screen and (min-width: 768px) {
  .header__nav {
    width: 24%;
    height: 100%;
    margin-left: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    width: 15%;
    margin-left: 56px;
  }
}

.header__nav__item {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 2% 2% 0 2%;
  color: #ffffff;
}

.header__nav__item:hover {
  cursor: pointer;
  border-bottom: solid 4px #ffffff;
  font-family: "avenir-demi-bold";
}

@media screen and (min-width: 768px) {
  .header__nav__item {
    width: auto;
    height: 100%;
    padding: 0% 3% 0 3%;
    padding-bottom: 0%;
  }
}

.header__anchor {
  cursor: pointer;
  color: #ffffff;
  font-family: "avenir-demi-bold";
}

.hero {
  background-image: url(../assets/Images/hero-image.jpg);
  background-position: center;
  background-size: cover;
  height: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 670px;
  }
}

.hero__heading {
  color: #ffffff;
  width: 90%;
  font-size: 1.5rem;
  margin: 0 0 0 5%;
  font-family: "avenir-bold";
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__heading {
    margin: 0 0 0 120px;
  }
}

.about {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .about {
    width: auto;
    margin: auto;
  }
}

.about__heading {
  margin: 11% 0 10% 0;
}

@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 2.1rem;
    margin: 8% 0 5% 0;
  }
}

@media screen and (min-width: 1200px) {
  .about__heading {
    font-size: 2.1rem;
    margin: 48px 0 48px 120px;
  }
}

.about__img-wrapper {
  height: 160px;
}

@media screen and (min-width: 768px) {
  .about__img-wrapper {
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .about__img-wrapper {
    width: 775px;
    height: auto;
    margin: auto;
  }
}

.about__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .about__img {
    height: 362px;
  }
}

@media screen and (min-width: 1200px) {
  .about__img {
    height: 100%;
    width: 100%;
  }
}

.about__quote-block {
  font-family: "avenir-demi-bold";
  margin: 10% 0 15% 0;
}

@media screen and (min-width: 768px) {
  .about__quote-block {
    margin: 5% 0 8% 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__quote-block {
    margin: 48px auto 56px;
    font-size: 1.5rem;
    width: 775px;
  }
}

.about__quote {
  padding-bottom: 9%;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .about__quote {
    padding-bottom: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .about__quote {
    padding-bottom: 40px;
  }
}

.about__quote-author {
  font-size: .9rem;
}

@media screen and (min-width: 1200px) {
  .about__quote-author {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .about__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .about__info {
    width: 775px;
    margin: auto;
  }
}

.about__info__header {
  font-size: 1rem;
  font-family: "avenir-demi-bold";
  padding-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .about__info__header {
    font-size: 1.5rem;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .about__info__header {
    padding: 0 0 32px 0;
  }
}

.about__info__paragraph {
  padding-bottom: 7%;
  font-size: 0.76rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .about__info__paragraph {
    padding-bottom: 7%;
    font-size: 0.95rem;
    width: 49%;
  }
}

@media screen and (min-width: 1200px) {
  .about__info__paragraph {
    padding-bottom: 48px;
    font-size: 0.9rem;
    width: 48%;
  }
}

.gallery {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 7% 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 5% 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: auto;
    margin: auto;
    padding: 48px 120px 40px;
  }
}

.gallery__header {
  padding: 2.5% 0 2.5% 0;
}

@media screen and (min-width: 768px) {
  .gallery__header {
    padding: 0 0 3.5% 0;
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__header {
    padding: 0 0 64px 0;
    font-size: 2.1rem;
  }
}

.gallery__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .gallery__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery__image {
  width: 100%;
  padding: 2.5% 0;
}

.gallery__image:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery__image {
    width: 216px;
    height: 126px;
    padding: 1.5% 0%;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__image {
    padding: 0 0 20px 0;
    width: 305px;
    height: auto;
  }
}

footer {
  background-color: #323232;
  height: 730px;
}

@media screen and (min-width: 768px) {
  footer {
    height: auto;
  }
}

.footer {
  height: 95%;
  width: 92%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0 120px 0 120px;
    width: auto;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 20%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 5%;
}

@media screen and (min-width: 768px) {
  .footer__social {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 7%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    height: auto;
    padding: 48px 0 0 0;
  }
}

.footer__logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    display: inline-block;
    padding-left: 15%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    padding-left: 47%;
  }
}

.footer__header {
  font-size: 2.4rem;
  font-family: "avenir-bold";
}

@media screen and (min-width: 1200px) {
  .footer__header {
    font-size: 2.1rem;
  }
}

.footer__info {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: .85rem;
}

@media screen and (min-width: 768px) {
  .footer__info {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    font-size: .8rem;
    width: 67%;
  }
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .footer__address {
    padding: 0 0 30px 0;
  }
}

.footer__management {
  font-family: "avenir-demi-bold";
  font-size: .9rem;
}

@media screen and (min-width: 768px) {
  .footer__management {
    padding: 45px 0 30px 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__management {
    font-size: .9rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__booking {
    padding: 0 0 30px 0;
  }
}

.footer__copyright {
  font-size: .85rem;
  width: 75%;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 35px 0 40px 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: .9rem;
  }
}

.icon-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1%;
}

@media screen and (min-width: 768px) {
  .icon-wrapper {
    width: 23%;
    padding-left: 0;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .icon-wrapper {
    width: 15%;
  }
}

.icon-image {
  height: 130%;
}

.icon-image:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .icon-image {
    height: auto;
  }
}

.show-hero {
  background-image: url(../assets/Images/show-hero.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .show-hero {
    height: 670px;
  }
}

@media screen and (min-width: 1200px) {
  .show-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.show-hero__wrapper {
  width: 90%;
  margin: 0 auto;
  height: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .show-hero__wrapper {
    width: 70%;
    margin: 0 0 0 5%;
    height: 70%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .show-hero__wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 7%;
    height: 40%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.show-hero__heading {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: "avenir-bold";
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .show-hero__heading {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .show-hero__heading {
    width: 55%;
    height: 87%;
  }
}

.show-hero__sub-heading {
  color: #ffffff;
  font-family: "avenir-bold";
  line-height: 1.5;
  font-size: .82rem;
  margin: 0 0 3% 5%;
  height: 6%;
}

@media screen and (min-width: 768px) {
  .show-hero__sub-heading {
    font-size: 1.4rem;
    margin: 0 0 0% 5%;
  }
}

@media screen and (min-width: 1200px) {
  .show-hero__sub-heading {
    font-size: 1.4rem;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
  }
}

.show-hero__music-player {
  height: 125px;
}

@media screen and (min-width: 768px) {
  .show-hero__music-player {
    height: 150px;
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .show-hero__music-player {
    height: 50%;
    width: 40%;
  }
}

.show-hero__soundcloud {
  border-radius: 1%;
}

.tour {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 46px;
}

.tour__wrapper {
  height: 300px;
  width: 90%;
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: solid 1px #e1e1e1;
}

@media screen and (min-width: 768px) {
  .tour__wrapper {
    height: 100px;
    width: 90%;
    max-width: 700px;
    margin: 0 auto 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.tour__heading {
  margin: 11% auto 0%;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .tour__heading {
    font-size: 2.1rem;
    margin: 8% 0 1% 5%;
  }
}

.tour__section {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .tour__section {
    height: 100%;
    width: 20%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.tour__button {
  background-color: #323232;
  font-family: "avenir-demi-bold";
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20%;
}

@media screen and (min-width: 768px) {
  .tour__button {
    height: 50%;
    width: 25%;
    margin: auto 0;
  }
}

.date__input {
  color: #AFAFAF;
  font-family: "avenir-demi-bold";
  font-size: .9rem;
}

@media screen and (min-width: 768px) {
  .date__input {
    display: none;
  }
}

.date__title {
  font-family: "avenir-demi-bold";
}

.venue__input {
  color: #AFAFAF;
  font-family: "avenir-demi-bold";
  font-size: .9rem;
}

@media screen and (min-width: 768px) {
  .venue__input {
    display: none;
  }
}

.location__input {
  color: #AFAFAF;
  font-family: "avenir-demi-bold";
  font-size: .9rem;
}

@media screen and (min-width: 768px) {
  .location__input {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main__date {
    display: inline-block;
    color: #AFAFAF;
    font-family: "avenir-demi-bold";
    font-size: .9rem;
  }
}

@media screen and (min-width: 768px) {
  .main__venue {
    display: inline-block;
    color: #AFAFAF;
    font-family: "avenir-demi-bold";
    font-size: .9rem;
  }
}

@media screen and (min-width: 768px) {
  .main__location {
    display: inline-block;
    color: #AFAFAF;
    font-family: "avenir-demi-bold";
    font-size: .9rem;
  }
}
/*# sourceMappingURL=main.css.map */